################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/Leetcode/.vs
/obj/Debug/net9.0/Leetcode.AssemblyInfoInputs.cache
/obj/Debug/net9.0/Leetcode.AssemblyInfo.cs
/obj/Debug/net9.0/red/Leetcode.dll
/obj/Debug/net9.0/refint/Leetcode.dll
/obj/Debug/net9.0/ref/Leetcode.dll
/bin/Debug/net9.0/Leetcode.pdb
/bin/Debug/net9.0/Leetcode.exe
/bin/Debug/net9.0/Leetcode.dll
/obj/Debug/net9.0/Leetcode.sourcelink.json
/obj/Debug/net9.0/Leetcode.genruntimeconfig.cache
/obj/Debug/net9.0/Leetcode.csproj.FileListAbsolute.txt
/obj/Debug/net9.0/Leetcode.csproj.CoreCompileInputs.cache
/obj/Debug/net9.0/apphost.exe
/obj/Debug/net9.0/Leetcode.dll
/obj/Debug/net9.0/Leetcode.pdb
